:root {
  --clr-primary-400: #202020;
  --clr-secondary-400: #0f0;
  --clr-accent: #ff007f;
  --clr-bg: #202020;
  --clr-text-400: #ff007f;

  --brand-bg: var(--clr-accent);
  --brand-border-bg: #0f0;

  --clr-secondary-200: #cfff04;
  --clr-text-200: #f1f2f4;
  --clr-text-600: #202020;

  --clr-header-lower: #0f0;
  --clr-bg-form: var(--clr-accent);

  --border-radius: 0;
}

.header__upper {
  border-width: 3px;
  border-color: var(--clr-text);
}

.header__lower input {
  background: var(--clr-accent);
  color: var(--clr-text-600);
}

.header__lower input::placeholder {
  color: var(--clr-text-200);
}

.header__lower .btn {
  color: var(--clr-text-400);
  font-weight: bold;
}

.header__lower .btn:hover {
  background-color: var(--clr-accent);
  color: var(--clr-header-lower);
  border-color: var(--clr-accent);
}

.list,
.list-item {
  background-color: var(--clr-secondary-200);
  padding: 0 0 0 0.8rem;
  color: var(--clr-text-600);
}

[data-isdone='true'] {
  color: var(--clr-accent);
}

[data-isdone='true'] button,
.list__actions__delete {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 6rem;
  background-color: var(--clr-secondary-400);
  border-left: 1px dotted var(--clr-text-400);
  color: var(--clr-text-600);
}

[data-isdone='false'] button {
  background-color: var(--clr-accent);
  height: 4rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-left: 1px dotted var(--clr-text-400);
}

[data-isdone='false'] svg {
  color: var(--clr-text-400);
}

[data-isdone='true'] svg {
  color: var(--clr-accent);
}

.login__input {
  background-color: var(--clr-text-200);
}

.login .btn {
  color: var(--clr-text-200);
}

.footer {
  border-top: var(--border);
  border-color: var(--clr-text-200);
  color: var(--clr-text);
}
